Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
Flask-CORS
Flask-restful
Flask-Mail
Werkzeug
python-dotenv
psycopg2-binary
marshmallow
flask-marshmallow
marshmallow-sqlalchemy
bcrypt
requests
celery
redis
gunicorn
pytest
pytest-flask
coverages
